### Rasa ###
bot/models
bot/results*
bot/train_test_split/
.tensorboard*
.rasa/

### Rasa X ###
events.db
events.db-shm
events.db-wal
rasa.db
*.db*

### Rasa visualize ###
graph.html

### Rasa evaluation ###
.ipynb_checkpoints/
modules/notebooks/intents/models/
modules/notebooks/intents/results/
modules/notebooks/stories/models/
modules/notebooks/stories/results/
bot/.ipython/
bot/.keras/
bot/.local/
bot/results/